@charset "utf-8";

*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    font-family: sans-serif;
}

body {
    display: grid;
    align-items: center;
    justify-content: center;
    min-height: 100dvh;
    background-color: hsl(211, 53%, 90%);
}

.main {
    width: clamp(750px, 80vw);
    height: clamp(150px, 35vh, 400px);
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    border: 1px solid hsl(0, 0%, 60%);
    border-radius: clamp(6px, 9vw, 10px);
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;

    h1 {
        color: hsl(0, 0%, 30%);
        font-family: "Orbitron", sans-serif;
        font-optical-sizing: auto;
        font-weight: bold;
        font-style: normal;
        font-size: clamp(20px, 9vw, 60px);
        letter-spacing: 2px;
        text-transform: uppercase;
    }

}

.display-main {
    margin-top: auto;
    display: flex;

    span {
        font-size: clamp(20px, 8dvh, 80px);
        font-family: monospace;
        color: hsl(0, 0%, 15%);

        &:not(:last-child)::after {
            content: ":";
            color: hsl(0, 0%, 50%);
        }
    }
}

.buttons {
    margin-top: auto;
    margin-bottom: 10px;
    width: 100%;
    display: flex;
    justify-content: center;

    button {
        cursor: pointer;
        border-radius: 10px;
        border: none;
        color: hsl(0, 0%, 90%);
        padding-top: clamp(5px, 7dvw, 10px);
        padding-right: clamp(10px, 7dvw, 50px);
        padding-bottom: clamp(5px, 7dvw, 10px);
        padding-left: clamp(10px, 7dvw, 50px);
        text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.315);
        transition: background-color ease 0.5s;
    }

    #startBtn {
        background-color: hsl(120, 100%, 45%);

        &:hover {
            background-color: hsl(120, 100%, 35%);
        }

    }

    #stopBtn {
        background-color: hsl(0, 100%, 50%);
        margin: 0px 10px;

        &:hover {
            background-color: hsl(0, 100%, 35%);
        }

    }

    #resetbtn {
        background-color: hsl(16, 100%, 50%);

        &:hover {
            background-color: hsl(16, 100%, 35%);
        }

    }

}